@import "./../../common/colors.css";
@import "./../../common/variables.css";

.bui-select {
  display: inline-flex;
  flex-grow: 0;
  flex-shrink: 1;
  position: relative;
  outline: none;
  max-width: 300px;
}

.bui-select_disabled {
  pointer-events: none;
}

.bui-select_disabled > .bui-select__button {
  border-color: var(--gray-border);
  color: var(--gray-border);
}

.bui-select__button {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 6px 30px 6px 14px;
  flex-grow: 0;
  border: solid 1px var(--green-primary);
  border-radius: var(--border-radius-small);
  font-size: 20px;
  cursor: pointer;
  user-select: none;
  transition: var(--transition-background);
}

.bui-select__button:after {
  position: absolute;
  top: 45%;
  right: 12px;
  width: 0;
  height: 0;
  content: "";
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid var(--gray-dark);
}

.bui-select__button:hover {
  background-color: var(--green-transparent-light);
}

.bui-select_active > .bui-select__button {
  background-color: var(--green-transparent-dark);
}

.bui-select__options {
  z-index: 2;
  position: absolute;
  top: 100%;
  margin-top: 2px;
  max-height: 300px;
  min-width: 100px;
  max-width: 300px;
  background-color: #fff;
  border: 1px solid var(--gray-border);
  border-radius: var(--border-radius-medium);
  overflow-y: auto;
  overflow-x: hidden;
  transform: scaleY(1);
  transition: background-color 500ms linear, max-height 150ms linear;
  animation: dropdown 150ms ease-in;
}

.bui-select__options.bui-select__options_closing {
  max-height: 0;
}

.bui-select__option {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px 13px;
  user-select: none;
  cursor: pointer;
}

.bui-select__option:hover {
  background-color: var(--green-transparent-light);
}

.bui-select__option_selected {
  color: var(--green-primary);
  font-weight: bold;
}

@keyframes dropdown {
  from {max-height: 0}
  to {max-height: 300px}
}