@import "./../../common/colors.css";
@import "./../../common/variables.css";

.bui-modal__container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 1;
  animation: modalBackgroundOpening 300ms linear;
  transition: 300ms opacity linear;
}

.bui-modal__container_closing {
  opacity: 0;
}

.bui-modal__container_closing>.bui-modal {
  transform: scale(0);
  transition: 300ms transform linear;
}

.bui-modal {
  position: relative;
  padding: 38px 45px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid var(--gray-light);
  border-radius: var(--border-radius-medium);
  box-shadow: var(--shadow-medium);
  font-family: var(--font-family);
  transform: scale(1);
  animation: modalOpening 300ms linear;
  transition: 300ms transform linear;
}

.bui-modal__close {
  position: absolute;
  top: 5px;
  right: 15px;
  cursor: pointer;
  font-size: 25px;
  transition: var(--transition-color);
  user-select: none;
}

.bui-modal__close:hover {
  color: var(--green-primary);
}

.bui-modal_size_small {
  width: 300px;
}

.bui-modal_size_medium {
  width: 500px;
}

@keyframes modalBackgroundOpening {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes modalOpening {
  from {opacity: 0; transform: scale(0);}
  to {opacity: 1; transform: scale(1);}
}