@import "./colors.css";

:root {
  --border-radius-small: 3px;
  --border-radius-medium: 5px;
  --transition-background: 150ms background-color linear;
  --transition-color: 150ms color linear;
  --transition-border: 150ms border-color linear;
  --transition-opacity: 500ms opacity linear;
  --transition-transform: 150ms transform linear;
  --shadow-medium: 0 4px 10px 0 var(--gray-shadow);
}
